In [1]:
"cat" + "ball"

'catball'

In [2]:
#success
4+9

13

In [3]:
var = 10*5
print(var)

50

In [4]:
#success2

In [5]:
#program to convert celsius to farnheit

In [6]:
def convert_to_F(C_temp):
    product = C_temp * 1.8
    return product + 32

In [7]:
convert_to_F(C_temp =0)

32.0

In [8]:
convert_to_F(C_temp =0)

32.0

In [9]:
def function1(a):
    product = a+5
    return product

In [10]:
function1(8)

13

In [11]:
function1(a= -56)

-51

In [12]:
function1(0)

5

In [13]:
type("1")

str

In [14]:
type("54.69")

str

In [15]:
profession = "Engineer"

In [16]:
profession.upper()

'ENGINEER'

In [17]:
profession.lower()

'engineer'

In [18]:
profession.swapcase()

'eNGINEER'

In [19]:
profession = "a renewable energy engineer"

In [20]:
profession.capitalize()

'A renewable energy engineer'

In [21]:
profession.title()

'A Renewable Energy Engineer'

In [22]:
profession.swapcase()

'A RENEWABLE ENERGY ENGINEER'

In [23]:
profession = "a    renewable    energy    engineer"

In [78]:
profession.lstrip()

'engineer    '

In [79]:
profession.rstrip()

'    engineer'

In [80]:
profession = "    engineer    "

In [81]:
profession.lstrip()

'engineer    '

In [82]:
profession.rstrip()

'    engineer'

In [83]:
#removes all white spaces
profession.strip()

'engineer'

In [30]:
profession.replace("g", "8")

'    en8ineer    '

In [31]:
#we can use multiple methods in a single line/time for eg -
profession.replace("e" , "I").strip()

'InginIIr'

In [32]:
#startswith - checks whether the string starts with given argument
profession.startswith("    engi")

True

In [33]:
profession.startswith("    engu")

False

In [34]:
#endswith = just like startswith- focuses at the end of string
profession.endswith("    ")

True

In [35]:
profession.endswith("err    ")

False

In [36]:
# in - checks whether argument on left is present in right string/variable
"ngi" in profession

True

In [37]:
"enguuuu" in profession

False

In [38]:
#Lists = a mutable data structure that holds an ordered collection of elements

In [87]:
list1 = [1,5,4,7,8,8,5]

In [88]:
list1

[1, 5, 4, 7, 8, 8, 5]

In [89]:
len(list1)

7

In [90]:
type(list1)

list

In [91]:
list2 = [2,5,7,8,9,98]

In [92]:
list2.append(68)

In [93]:
list2

[2, 5, 7, 8, 9, 98, 68]

In [94]:
list2.append('58')

In [95]:
list2

[2, 5, 7, 8, 9, 98, 68, '58']

In [96]:
list2.pop()

'58'

In [97]:
list2

[2, 5, 7, 8, 9, 98, 68]

In [98]:
list2.remove(9)

In [99]:
list2

[2, 5, 7, 8, 98, 68]

In [100]:
#using "in" and "not in" in lists
4 in list2

False

In [101]:
5 in list2

True

In [102]:
5  not in  list2

False

In [103]:
4 not in list2

True

In [104]:
"mouse" in "mousetrap"

True

In [105]:
"mouse" not in "mousetrap"

False

In [106]:
#index position
#starts the count with 0
#eg., - S t r i n g
    #   0 1 2 3 4 5

In [107]:
#to take out a character from a string using index
string11 = "househelp"
string11[5]

'h'

In [108]:
#index also start from the right in that case the index count is negative eg - 
string11[-1]

'p'

In [109]:
#index slicing
#it gives out elements from starting to (n-1) index number
# eg if we write 1:4, then only upto index no. 3 element would be taken out
list3 = ["one","two","three","four","five"]

In [110]:
list3[1:3] #this is list slicing

['two', 'three']

In [63]:
string2 = ("thisisatest")

In [64]:
string2[2:6]

'isis'

In [65]:
 string2[-1]

't'

In [66]:
#not having anything on the right side of the index calling gives the result till the end of the list
string2[5:]

'satest'

In [67]:
string2[:]

'thisisatest'

In [68]:
string2[1:3]

'hi'

In [69]:
string2

'thisisatest'

In [114]:
#dictionary - An un-ordered collection of key-value pairs
# key is used to call its associated value
menu = {
    "nachos veg & non-veg": 249,
    "pizza": 449,
    "Big Mac": 349
}

In [115]:
menu

{'nachos veg & non-veg': 249, 'pizza': 449, 'Big Mac': 349}

In [116]:
len(menu)

3

In [117]:
#calling a dictionary pair
menu["pizza"]

449

In [118]:
type(menu)

dict

In [119]:
menu.pop("Big Mac")

349

In [120]:
#appended
menu

{'nachos veg & non-veg': 249, 'pizza': 449}

In [125]:
menu.append("lassi": 100)

SyntaxError: invalid syntax (<ipython-input-125-711bfd9f73a6>, line 1)

In [122]:
menu1 = {"water" : 20 , "food" : 50}

In [126]:
menu1["cloth"] = 40

In [127]:
menu1

{'water': 20, 'food': 50, 'cloth': 40}

In [128]:
"cloth" in menu1

True

In [129]:
menu1.values()

dict_values([20, 50, 40])

In [130]:
50 in menu1

False

In [131]:
50 in menu1.values()

True